*{
    margin: 0 auto;
}

body{
    background-color: rgb(245, 241, 245);
    font-family: 'Roboto', sans-serif;
}

.top-pagina{
    display: flex;
    margin-top: 20px;
}

.estilo{
    position: relative;
    display: flex;
    color: rgb(238, 221, 235);
    text-align: center;
    box-shadow: 0px 0px 5px rgba(77, 44, 92, 0.562);
}

.corPrimaria{
    background-color: rgb(89, 67, 100);
}

.corSecundaria{
    background-color: rgb(236, 226, 234) ;
}

.painelExcluir{
background-color: rgba(0, 0, 0, 0.256);
}

.home{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    left: -130px;
    transition: left 1.11s cubic-bezier(0.68, -0.2, 0.27, 1.55);
}
.homeAnimation{
    left: -240px;
}

#imgHome{
    width: 25px;
    height: 25px;
    margin: auto auto auto auto;
    filter: invert(1);
    cursor: pointer;
}

.estiloCentral{
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    border-radius: 50px;
    width: 180px;
    height: 50px;
    cursor: context-menu; 
    transition: filter 0.8s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.estiloAvisoComanda{
    top: 12px;
    position:absolute;
    filter: opacity(0);
    transition: filter 1.4s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.avisoComandaAnimation{
    filter: opacity(1);
}
.estiloCentralAnimacao{
    filter: opacity(0.0);
}

#central{
    transition: width 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.centralAnimacao {
    width: 400px;
}


#central p{
    margin-top: auto;
    margin-bottom: auto;
    font-weight: bold;
    font-size: 18px;
}

#view{
    position: relative;
    width: 20px;
    filter: invert() opacity(0.7);
}

#view:hover{
    filter: invert() opacity(0.8);
    cursor: pointer;
}

div#pai{
    display: flex;
    margin-top: 20px;
    width: 850px;
    position: relative;
    margin-left:auto;
    margin-right:auto;
}

.valorCaixaBefore{
    margin-left: 10px;
    transition: margin-left 1s ease-in-out;
}

.valorCaixaAnimation{
    margin-left: -70px;
}

div#telaPrincipal{
    width: 100%;
    height: 500px;
    color: rgb(73, 54, 92);
    border-radius: 30px;
    position: absolute;
    box-shadow: 0px 0px 5px rgba(77, 44, 92, 0.562);
}

#menuCriarComanda{
    width: 300px;
    height: 300px;
    position: absolute;
    top: 335px;
    margin-left: 50%;
    transform: translate(-50%);
    border-radius: 20px;
    color: rgb(81, 66, 93);
    text-align: center;
    font-weight: bold;
    cursor: context-menu;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.327);
    font-size: 11px;
}


#inputNomeComanda{
    width: 80%;
    height: 40px;
    border: 0px;        
    text-align: center;
    font-size:17px;
    border-radius: 30px;
    background-color: rgb(238, 231, 240);
    color: rgb(103, 66, 98);
    margin-bottom: 20px;
    box-shadow: 0px 0px 5px rgba(6, 4, 7, 0.378);
}

#menuCriarComanda button{
    width: 80px;
    height: 110px;
    margin-top: 30px;
    border-radius: 20px;
    border: 0px;
    background-color: rgb(220, 208, 226);
    color: rgb(103, 66, 98);
    margin-left: 5px;
    margin-right: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.351);
    font-weight: bold;
    margin-bottom: 20px;
}

#menuCriarComanda button:hover{
    background-color: rgb(121, 93, 131);
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.584);
    color: white;
    cursor: pointer;
}


.btnAddComanda{
    width: 90px;
    height:90px;
    border-radius: 20px;
    position: relative;
    transform: translate(0,-50%);
    top: 50%;
    bottom: 20px;
    cursor: pointer;
    display: flex;
}

#cancelarComanda{
    visibility: hidden;
}
#iconeAdd{
    color: rgb(227, 212, 235);
    font-size: 30px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.corCancelar{
    background-color: rgb(184, 13, 13);
}
#listaComandas{
    width: 250px;
    height: 120px;
    background-color: rgb(233, 225, 237);
    box-shadow: 0px 0px 5px rgba(77, 44, 92, 0.562);
    border-radius: 40px;
    position:absolute;
    top: 530px;
    left: 50%;
    transform: translate(-50%);
    display: flex;
    color: aliceblue;
}


.btnComanda{
    width: 90px;
    height: 90px;
    background-color: rgb(212, 201, 221);
    color: rgb(66, 26, 95);
    border-radius: 20px;
    position:relative;
    top: 50%;
    transform: translate(0,-50%);
    bottom: 20px;
    cursor: pointer;
    font-size: 15px;
    word-wrap: break-word;
}
.btnComanda p{
    margin-top: 5px;
}

.btnComanda{
    text-align: center;
}
.adicionar p{
    margin-top: 5px;
}


    
.menus{
    color: rgb(202, 182, 199);
    width: 400px;
    height: 500px;
    border-radius: 20px;
    margin-right: auto;
    position: absolute;
    box-shadow: 0px 0px 5px rgba(77, 44, 92, 0.562);
}



.top-menu{
    width: 100%;
    height: 60px;
    color: rgb(64, 56, 72);
    border-radius: 20px 20px 0 0;
    position: sticky;
    top: 0;
    cursor: context-menu;
}

.tituloComanda{
    text-align: center;
    font-size: 35px;
    margin-top: 10px;
    color: rgb(64, 56, 72);
}

.bot-menu{
    width: 100%;
    height: 50px;
    color: rgb(64, 56, 72);
    position: sticky;
    bottom: 0;
    cursor: context-menu;
    display: flex;
    padding: 15px;
}

.container{
    margin-top: auto;
    margin-bottom: auto;
}
h1{
    text-align: center;
    padding: 10px;
}

.alignProdutos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
#produtos{
    position:absolute;
    
}
#produtos button{
    width: 150px;
    height: 100px;
    border: none;
    border-radius: 50px;
    background-color: rgb(247, 243, 245);
    color: rgb(99, 30, 88);
    justify-content: space-evenly;
    cursor: pointer;
    font-weight:100;
    font-size: 17px;
}

#produtos button:hover{
    background-color: rgba(107, 46, 97, 0.89);
    color: aliceblue;
}

#pesoAcai button{
    width: 150px;
    height: 50px;
    margin-left: 5px;
    margin-right: 5px;
    border: none;
    cursor: pointer;
    border-radius: 80px;
    font-size: 19px;
}

.btnCan{
    background-color: rgb(246, 243, 246);
    color: rgb(99, 30, 88);
}
.btnEnv{
    color: rgb(224, 212, 221);
}

.btnCan:hover{
    background-color: rgb(246, 241, 245);
    color: rgb(99, 30, 88);
}
.btnEnv:hover{
    background-color: rgb(99, 30, 88);
    color: rgb(224, 212, 221);
}
#pesoAcai input{
    width: 80%;
    height: 40px;
    background-color: rgb(246, 243, 246);
    color: rgb(99, 30, 88);
    border: 0px;
    font-size: 20px;
    outline: none;
    border-radius: 20px;
    text-align: center;
}

#pesoAcai{
    position: absolute;
    cursor: context-menu;
}

#erro{
    color: rgb(99, 30, 88);
}

.div-itens{
    background-color: rgb(240, 233, 238);
    color: rgb(99, 30, 88);
    width: 92%;
    height: 50px;
    margin-top: 25px;
    margin-bottom: 10px;
    display: flex;
    margin-top: 20px;
    margin-bottom: auto;
    border-radius: 50px;
    cursor: context-menu;
    transition: all 0.2s ease;
}

.div-itens:hover{
    background-color: rgb(246, 240, 246);
    padding: 3px;
}

.alignItens{
    margin-top: auto;
    margin-bottom: auto;
    
}

.lixeira{
    width: 20px;
    filter:opacity(0.6);
    cursor: pointer;
}

.comanda{
    overflow: hidden;
    overflow-y: scroll;
    position: absolute;
    margin-left: 450px;
}

.estiloTextComanda{
    font-weight: bold;  display: flex; width: 70px; margin-left: 0;
}

.finalizarComanda{
    background-color: rgb(247, 241, 245);
    color: rgb(64, 56, 72);
    border: none;
    border-radius: 50px;
    font-size: 12px;
    width: 150px;
    height: 50px;
    padding: 5px;
    font-weight: bold;
    cursor: pointer;
}

#finalizar{
    width: 100%;
    height: 500px;
    border-radius: 20px;
    background-color: rgb(236, 220, 232);
    border: 0px;
    position: absolute;
    box-shadow: 0px 0px 5px rgba(77, 44, 92, 0.562);
}


#finalizar h1{
    color: rgb(77, 63, 77);
    margin-bottom: 30px;
}

#conteudoFinalizar{
    display: flex;
}

.corpoDiv{
    background-color: rgb(218, 203, 215);
    border-radius: 20px;
    color: rgb(70, 52, 65);
}

.divTotal{
    width: 350px;
    height: 330px;
    margin-left: 32px;
    margin-bottom: 20px;
    position: absolute;
}

#divPagamento{
    width: 400px;
    height: 330px;
}

#btnVoltar{
    width: 350px;
    height: 50px;
    color: rgb(224, 212, 221);
    cursor: pointer;
    border-radius: 20px;
    position: relative;
    top: 350px;
}

#btnVoltar:hover{
    background-color: rgb(55, 15, 75);
}

#conteudoFinalizar h2{
    transform: translate(0,10px);
    text-align: center;
}

#containerButtons{
    margin-top: 30px;
}
#containerButtons button{
    min-width: 170px;
    height: 50px;
    border-radius: 50px;
    border: 0px;
    background-color: rgb(236, 226, 234);
    color: rgb(73, 53, 67);
    font-weight: 100;
    font-size: 13px;
    cursor: pointer;
    margin-bottom: 10px;
}

#containerButtons button:hover{
    background-color: rgb(248, 243, 247);
}

#containerPagamentos{
    width: 90%;
    height: 230px;
    margin-top: 30px;
}

#containerPagamentos input{
    width: 95%;
    height: 40px;
    background-color: rgb(247, 240, 245);
    color: rgb(99, 30, 88);
    border: 0px;
    font-size: 20px;
    outline: none;
    border-radius: 20px;
    text-align: center;
    transform: translate(8px);
    
}

#btnDescontar {
    width: 400px;
    height: 50px;
    background-color: rgb(74, 124, 38);
    color: aliceblue;
    cursor: pointer;
    border-radius: 20px;
    margin-top: 20px;
}

#btnDescontar:hover{
    background-color: rgb(101, 161, 57);
    color: aliceblue;
}

.estiloResumo{
    display: flex;
    margin-top: 20px;
    margin-bottom: 20px;
}

.estiloResumoEsquerda{
    margin-left: 20px;
}

.estiloResumoDireita{
    margin-right: 20px;
}

.debitados{
    color: green;
}

.bot-menu-resumo{
    width: 100%;
    height: 60px;
    background-color: rgba(119, 84, 109, 0.171);
    bottom: 0px;
    position: absolute;
    border-radius: 0px 0px 20px 20px;
    display: flex;
    color: rgba(73, 0, 51, 0.973);
    font-weight: 100;
    font-size: 19px;
}

.bot-menu-resumo p{
    margin-top: auto;
    margin-bottom: auto;
}

.linha{
    display: flex;
    margin-bottom: 3px;
    margin-top: 3px;
}

.totalComanda{
    margin-top: 10px;
    font-weight: bold;
}

.nomesPagamentos{
    margin: auto auto auto -30px;
}

.icones{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    margin-left: 0px;
    margin: auto auto auto 10px;
    filter:brightness(0.9) contrast(0.9) saturate(0.9);
}

#version{
    bottom: 5px;
    right: 5px;
    position: fixed;
}

.ocultar{
    visibility: hidden;
}